.deps/
.libs/
m4/
local_install/
aclocal.m4
autom4te.cache
install-sh
missing
libtool
ltmain.sh
depcomp
compile
config.log
config.status
config.guess
config.sub
configure
Makefile
Makefile.in
*.o
*.lo
*.la
